.DS_Store
node_modules
.idea
.vscode
*.map
.env

/old-*

**/css/*.php

/vendor/*
/vendor/priyomukul/wp-notice/.editorconfig
/vendor/priyomukul/wp-notice/.gitignore
/vendor/priyomukul/wp-notice/composer.json
/vendor/priyomukul/wp-notice/README.md
!/vendor/priyomukul
!vendor/composer
!vendor/autoload.php

/configs
/react-src/gutenberg/blocks/categorygrid-old
yarn-error.log
pnpm-lock.yaml
